body{
    background-color: lightgreen;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
#task{
    color: brown;
}
#score{
    text-align: left;
    font-family: 'Lucida Grande';
}
#timer{
    text-align: right;
    font-family: 'Lucida Grande';
}

